<header class="header">
  <div>
    <div>
      <h4>Categories:</h4>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" routerLink="/home">All</p>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" [routerLink]="['/category' , 1]">Fashion</p>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" [routerLink]="['/category' , 2]">Watches</p>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" [routerLink]="['/category' , 3]">Furnitures</p>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" [routerLink]="['/category' , 4]">Shoes</p>
      <p (click)="ToggleAside.closeAside()" routerLinkActive="active" [routerLink]="['/category' , 5]">Others</p>
    </div>
    <img src="./../../../assets/1244019.png" alt="icono">
    <h1>URStore</h1>
  </div>
  <div>
    <div>
      <span routerLink="/shoppingcart" class="material-symbols-outlined">shopping_cart</span>
      <div>{{contador}}</div>
    </div>
  </div>
</header>
