.header{
  width: 100%;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--btn-dark);
  background-color: var(--card);

  padding: 0 12px;

  position: fixed;
  z-index: 1;
  div{
    display: flex;
  }
  div:nth-child(1){
    width: 60%;

    display: flex;
    justify-content: space-between;
    div{
      width: 65%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      h4{
        font-weight: var(--bold);
        color: var(--btn-dark);
      }
      p{
        border: 1px solid var(--btn-light);
        border-radius: 12px;

        padding: 4px;

        cursor: pointer;
        &.active {
          border: 1px solid var(--btn-dark);
          background-color: var(--btn-light);
          color: white;
        }
      }
    }
    img{
      width: 5%;
    }
    h1{
      display: flex;
      align-items: center;
      margin-left: -160px;

      font-size: var(--lg);
      font-weight: var(--bold);
    }
  }
  div:nth-child(2){
    width: 30%;
    height: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div{
      position: relative;
      width: 24px;
      div{
        position: absolute;
        top: 0;
        right: -6px;

        width: 50%;
        height: 42%;

        background-color: var(--btn-light);

        border-radius: 50%;

        font-size: 13px;
        font-weight: var(--mid);

        justify-content: center
      };
      span{
        cursor: pointer;
        font-size: 33px;
      }
    }
  }
}
