<section class="product-list">
  <h1 *ngIf="!products.length">Agrega tu primer producto al carrito de compras!!!</h1>
  <div *ngFor="let product of products">
    <img [src]="product.images[0]" [alt]="product.title">
    <h1>{{product.title}}</h1>
    <div>
      <div>
        <button [disabled]="product.btndisabled" (click)="list.disminuir(product.id)" type="button">-</button>
        <p>{{product.quantity}}</p>
        <button (click)="list.aumentar(product.id)" type="button">+</button>
      </div>
      <div>
        <button (click)="list.deleteProduct(product.id)" type="button">Eliminar</button>
      </div>
    </div>
    <h3>$ {{product.price * product.quantity}}</h3>
  </div>
  <h2>Total price: ${{totalPrice}}</h2>
</section>
